<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="banner">
        <img
          srcset="
            /images/support-landing-page/pakari/about-pakari-xs.jpg  576w,
            /images/support-landing-page/pakari/about-pakari-sm.jpg  768w,
            /images/support-landing-page/pakari/about-pakari-md.jpg  992w,
            /images/support-landing-page/pakari/about-pakari-lg.jpg 1200w,
            /images/support-landing-page/pakari/about-pakari-xl.jpg 1920w
          "
          class="img-fluid"
          sizes="100vw"
          src="/images/support-landing-page/pakari/about-pakari-xl.jpg"
          alt="Pakari wall"
        />
        <div class="top-center-container">
          <div class="light-text">
            <h1>Pakari</h1>
            <a href="/landing-pages/mouldings" class="btn btn-sm btn-elandel"
              ><i class="fal fa-chevron-left"></i> Back to Moulding
            </a>
            <a
              href="/categories?&fams[]=Pakari"
              class="btn btn-sm btn-elandel"
            >
              View All Pakari <i class="fal fa-chevron-right"></i>
            </a>
          </div>
          <!-- .light-text -->
        </div>
        <!-- .top-center-container -->
      </div>
      <!-- .banner -->
    </div>
    <!-- .col-12  -->
  </div>
  <!-- .row  -->
</div>
<!-- .container-fluid -->

<div class="container container-landing-page">
  <div class="row landing-text-container">
    <div class="col-12 landing-text-box">
      <h2>Style Your Ship</h2>
      <p class="one-rem-text-desktop">
        Shiplap is a timeless addition to any home. Whether you cover your
        ceiling or create an accent wall, you will not be disappointed with the
        end result. Usually this element is used in coastal styles, however,
        recently it has become the highlight of many different designs. Even if
        you have a modern or contemporary style, shiplap can create those clean,
        white lines that a modernized home highlights. Do not forget you can
        paint shiplap, and in doing so you are opening up the treasure trove of
        design possibilities and allowing it to fit your space.
      </p>
    </div>
    <!-- .col-12  -->
  </div>
  <!-- .row -->

  <div class="row align-items-center landing-text-container">
    <div class="col-12 col-md-6 landing-text-box ">
      <a href="/categories?&subs[]=Shiplap" class="text-dark">
        <h2 class="pb-1 pt-2">Accent Ceiling</h2>
      </a>
      <p>
        If you want to open up your space, then a shiplap ceiling can be the
        trick. It creates a cohesive flow from wall to ceiling so it seemingly
        doesn't end. Shiplap on your ceiling can also allow for more detail
        where you didn't think to add it. As you can see in these homes, the
        Shiplap continues the color flow and makes it look larger.
      </p>
    </div>

    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <div
        id="carouselExampleIndicators1"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators1"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="/images/support-landing-page/shiplap/shiplap-product-blend-insets-1a.jpg"
              class="d-block w-100"
              alt="Accent Shiplap  Ceiling"
            />
          </div>
          <div class="carousel-item">
            <img
              src="/images/support-landing-page/shiplap/shiplap-product-blend-insets-1b.jpg"
              class="d-block w-100"
              alt="Accent Shiplap  Ceiling "
            />
          </div>
          <div class="carousel-item">
            <img
              src="/images/support-landing-page/shiplap/shiplap-product-blend-insets-1c.jpg"
              class="d-block w-100"
              alt="Accent Shiplap  Ceiling "
            />
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators1"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators1"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <!-- .row -->

  <div class="row align-items-center landing-text-container">
    <div
      class=" col-12 col-md-6 text-center landing-text-container order-2 order-md-1"
    >
      <div
        id="carouselExampleIndicators2"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators2"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="/images/support-landing-page/shiplap/shiplap-product-blend-insets-2a.jpg"
              class="d-block w-100"
              alt="Pakari homes "
            />
          </div>
          <div class="carousel-item">
            <img
              src="/images/support-landing-page/shiplap/shiplap-product-blend-insets-2b.jpg"
              class="d-block w-100"
              alt="Pakari Home"
            />
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators2"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators2"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-12 col-md-6 landing-text-box order-1 order-md-2">
      <a href="/categories?&subs[]=Shiplap" class="text-dark">
        <h2 class="pb-1 pt-2">Center Stage Surfaces</h2>
      </a>
      <p>
        If you want to make a wall standout with a simple accent, Shiplap is the
        answer. It helps add to your room creating a clean design. If you place
        them vertically on the wall, it can also be a surprise the difference in
        how it looks compared to horizontal. Do not forget that you can also
        paint or stain the Shiplap to give it the added color pop that you
        desire, like how this one is painted white to counter balance the
        harsher tones of the furniture.
      </p>
      <p>
        Also, if you are looking for a way to make your fireplace standout, then
        look no further. As you can see, the Shiplap allows for the fireplace to
        have even more prominence in the space, while keeping a consistent tone
        throughout the living room.
      </p>
    </div>
  </div>
  <!-- .row -->

  <div class="row align-items-center landing-text-container">
    <div class="col-12 col-md-6 landing-text-box ">
      <a href="/categories?&subs[]=Shiplap" class="text-dark">
        <h2 class="pb-1 pt-2">Why Pakari Shiplap?</h2>
      </a>
      <p>
        Pakari Shiplap is a comparable alternative to the more traditional
        Shiplap. It highlights the dark wood color that adds a unique detail to
        your walls. The benefits of Pakari Wood Shiplap are that it has
        increased durability, stability, and a reduction in weight. As you can
        see with the half-wall and full-wall accents, it brings out the rustic
        vibe within whatever space that it is placed into.
      </p>
    </div>

    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <div
        id="carouselExampleIndicators3"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators3"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleIndicators3" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators3" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators3" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
         <div class="carousel-item active">
            <img
              src="/images/support-landing-page/shiplap/shiplap-product-blend-insets-3c.jpg"
              class="d-block w-100"
              alt="Pakari Shiplap "
            />
          </div>
           <div class="carousel-item">
            <img
              src="/images/support-landing-page/shiplap/shiplap-product-blend-insets-3d.jpg"
              class="d-block w-100"
              alt="Pakari Shiplap "
            />
          </div>
          <div class="carousel-item">
            <img
              src="/images/support-landing-page/shiplap/shiplap-product-blend-insets-3a.jpg"
              class="d-block w-100"
              alt="Pakari Shiplap "
            />
          </div>
          <div class="carousel-item">
            <img
              src="/images/support-landing-page/shiplap/shiplap-product-blend-insets-3b.jpg"
              class="d-block w-100"
              alt="Pakari Shiplap "
            />
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators3"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators3"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <!-- .row -->

  <div class="row align-items-center landing-text-container">
    <div
      class=" col-12 col-md-6 text-center landing-text-container order-2 order-md-1"
    >
      <div
        id="carouselExampleIndicators4"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators4"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleIndicators4" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="/images/support-landing-page/shiplap/shiplap-product-blend-insets-4a.jpg"
              class="d-block w-100"
              alt="Pakari Shiplap walls "
            />
          </div>
          <div class="carousel-item">
            <img
              src="/images/support-landing-page/shiplap/shiplap-product-blend-insets-4b.jpg"
              class="d-block w-100"
              alt="Pakari Shiplap walls  "
            />
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators4"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators4"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-12 col-md-6 landing-text-box order-1 order-md-2">
      <a href="/categories?&subs[]=Shiplap" class="text-dark">
        <h2 class="pb-1 pt-2">Provocative Paneling</h2>
      </a>
      <p>
        The best thing about Shiplap is that it creates a watertight surface due
        to the way the board overlaps. This detail helps to ensure that they fit
        together seamlessly and with ease. As you can see, it is perfect for a
        bathroom. However, it is also great for walls in family homes that will
        be lived in and need sturdier materials because it can make the space
        seem bigger and allows for an easy clean up.
      </p>
    </div>
  </div>
  <!-- .row -->

  <div class="row align-items-center landing-text-container">
    <div class="col-12 col-md-6 landing-text-box ">
      <a href="/categories?&subs[]=Shiplap" class="text-dark">
        <h2 class="pb-1 pt-2">Kitchen Enhancing</h2>
      </a>
      <p>
        Looking to add a small yet powerful detail in your kitchen? Then, you
        are in the right place. Note that the Shiplap is placed only on top of
        the kitchen hood in one of these homes. The design is hiding the
        distracting color of the metal hood and allows for a cohesive fluidity
        between the room. Also, notice that Shiplap tends to be a great subtle
        design, and it can make your kitchen space flow with the cabinets and
        other pieces in your home.
      </p>
    </div>

    <div class=" col-12 col-md-6 text-center   landing-text-container">
      <div
        id="carouselExampleIndicators5"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators5"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleIndicators5" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="/images/support-landing-page/shiplap/shiplap-product-blend-insets-5a.jpg"
              class="d-block w-100"
              alt="Pakari Shiplap Kitchen  "
            />
          </div>
          <div class="carousel-item">
            <img
              src="/images/support-landing-page/shiplap/shiplap-product-blend-insets-5b.jpg"
              class="d-block w-100"
              alt="Pakari Shiplap Kitchen"
            />
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators5"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators5"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <!-- .row -->

  <div class="row align-items-center landing-text-container">
    <div
      class=" col-12 col-md-6 text-center landing-text-container order-2 order-md-1"
    >
      <div
        id="carouselExampleIndicators6"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators6"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleIndicators6" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="/images/support-landing-page/shiplap/shiplap-product-blend-insets-6a.jpg"
              class="d-block w-100"
              alt="Pakari Shiplap "
            />
          </div>
          <div class="carousel-item">
            <img
              src="/images/support-landing-page/shiplap/shiplap-product-blend-insets-6b.jpg"
              class="d-block w-100"
              alt="Pakari Shiplap "
            />
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators6"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators6"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-12 col-md-6 landing-text-box order-1 order-md-2">
      <a href="/categories?&subs[]=Shiplap" class="text-dark">
        <h2 class="pb-1 pt-2">Add Some Detail</h2>
      </a>
      <p>
        Shiplap is great for adding detail to either a portion of your wall,
        like this inset wall, or to every surface. If you want to make the
        mudroom less plain, you can add Shiplap to a small section of the space
        to make it more of a fun design. If you like a white space but want a
        way to break up the monotony, then Shiplap is a terrific solution. The
        possibilities are endless because it is easily adaptable to any space.
      </p>
    </div>
  </div>
  <!-- .row -->
  <div class="row align-items-center landing-text-container">
    <div class="col-12 landing-text-box order-2 order-md-1">
      <p class="one-rem-text-desktop">
        The possibilities with Shiplap are endless. No matter your design, as
        you can see, Shiplap can really amp up your space. It is versatile,
        sturdy and allows for you to style it your way. Whether your ceiling,
        bathroom, or accent walls need some sprucing up, Shiplap is your right
        hand man.
      </p>
    </div>
  </div>
  <!-- row -->
</div>
<!-- container -->
